<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
   <info id="downloads@foxmask.info" name="downloads" createdate="2009-01-14">
        <version stability="stable" date="2011-07-07">1.7.0</version>
        <label lang="fr_FR">Gestionnaire de Téléchargements</label>
        <description lang="fr_FR"><![CDATA[Basiquement, ce module permet de mettre en téléchargement des fichiers.<br/>
        Mais au delà de cela, il convient très bien à des sites hébergeant plusieurs projets.<br/>
        En effet les auteurs de projets peuvent utiliser ce module pour mettre en téléchargement les nouvelles versions de leur création.<br/>
        Chaque auteur peut décider d'autoriser des visiteurs à télécharger ses fichiers ou bien uniquement les membres de son site.<br/>
        Il peut également permettre (ou non) de télécharger ses fichiers depuis un site distant.]]></description>
        <label lang="en_EN">Downloads Manager</label>
        <description lang="en_EN">This module permits to manage the files to download.</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2008-2011 foxmask</copyright>
        <creator name="foxmask" email="foxmask@foxmask.info" active="true" />
        <homepageURL>http://foxmask.info</homepageURL>
   </info>
    <dependencies>
        <jelix minversion="1.1.5" maxversion="1.3.*"/>
    </dependencies>
</module>
